@import '../scss/variables';

.header-section {
    margin: 0;
    min-width: 100%;
    background-color: $darkColor;
    color: $ligthColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-section__title {
    margin: 0;
}
.user-menu {
    display: flex;
    flex-direction: row;
}
.main-section {
    display: flex;
    flex-direction: row;
}
.charts-menu {
    // position: absolute;
    width: 50px;
    height: 100vh;
    background-color: $darkColor;
    color: $ligthColor;
}
.charts-menu__list {
    list-style: none;
    padding: 10px;
}
.charts-section {
    background-color: $mainColor;
    width: 92vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
}
.charts-article {
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &.item-1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
      }
    &.item-2 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    &.item-3 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
.charts-article__image-wrapper {
    height: 135px;
}
.charts-article__default-image {
    width: 216px;
}
.charts-article__line {
    background-color: $ligthColor;
    height: 5px;
    width: 100px;
    &.first {
        animation-name: intro-first;
        animation-duration: 3s;
    }
    &.second {
        width: 50px;
        animation-name: intro-second;
        animation-duration: 2s;
    }
}
.charts-article-horizontal {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.charts-article__line-horizontal {
    background-color: $ligthColor;
    width: 5px;
    height: 100px;
    &.first-horizontal {
        animation-name: intro-horizontal-first;
        animation-duration: 3s;
    }
    &.second-horizontal {
        height: 50px;
        animation-name: intro-horizontal-second;
        animation-duration: 2s;
    }
}

.charts-article__circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: $ligthColor;
}

@keyframes intro-first {
    from {
        width: 0;
    }
  
    to {
        width: 100px;
    }
}
@keyframes intro-second {
    from {
        width: 0;
    }
  
    to {
        width: 50px;
    }
}
@keyframes intro-horizontal-first {
    from {
        height: 0;
    }
  
    to {
        height: 100px;
    }
}
@keyframes intro-horizontal-second {
    from {
        height: 0;
    }
  
    to {
        height: 50px;
    }
}