@import "../scss/variables";

.footer-section {
  min-width: 100%;
  height: 10%;
  background-color: $darkColor;
  color: $mainColorLighter;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: $regularMainFontWeight;
  text-align: center;
  .footer-section__copy {
    margin: 5px 9px;
  }
  .footer-section__p {
    font-size: 1em;
    margin: 9px;
  }
  @media all and (min-width: 768px) {
    height: 8%;
    .footer-section__copy {
      margin: 22px;
    }
    .footer-section__p {
      margin: 20px;
    }
  }
}
