@import "../scss/variables";

.header-section {
  min-width: 100%;
  height: 5%;
  background-color: $snowWhite;
  color: $darkColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .header-section__title {
    margin-left: 9px;
    font-size: 1em;
    font-weight: $regularMainFontWeight;
    @media all and (min-width: 768px) {
      margin-left: 20px;
    }
  }
}

.user-menu {
  display: flex;
  flex-direction: row;
  .fas {
    font-size: 1.5em;
    color: $ligthColor;
    margin: 5px;
  }
  .user-menu__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    background-color: $snowWhite;
    border: $snowWhite;
    outline: $snowWhite;
    color: $ligthColor;
    &:hover {
      .fas {
        color: $darkColor;
      }
    }
  }
}
