@import '../scss/variables';

.main-section {
    height: 95vh;
    display: flex;
    flex-direction: column;
    .charts-section {
        background-image: linear-gradient(180deg, $mainColorLighter 0%,$mainColor 90%);
    }
}