@import '../scss/variables';

.main-section {
    display: flex;
    // flex-direction: row;
    flex-direction: column;
    .charts-menu {
        font-size: 1.3em;
        font-weight: $boldMainFontWeight;
        background-color: $darkColor;
    }
    
    .charts-section {
        background-image: linear-gradient(180deg, $ligthColor 0%,$mainColor 40%);
        width: 100vw;
    }
}