@import '../scss/variables';

.charts-menu__tablet-desktop, .charts-menu__mobile {
    list-style: none;
    height: 100vh;
    padding: 0;
    @media all and (min-width:768px)  {
        padding: 10px;
    }
}
.charts-menu__button {
    border: $darkColor;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
}
.charts-menu__mobile {
    display: block;
    width: 40px;
    .charts-menu__button {
        width: 34px;
        height: 36px;
        padding: 6px 4px;
        margin: 6px 2px;
        border-radius: 6px;
        text-decoration: none;
        transition: all .3s ease-in;
        background-color: $darkColor;
        color: $ligthColor;
        box-shadow: 0 -2px $ligthColor inset;
        &:hover{
            box-shadow: 0 -40px $ligthColor inset;
            color: $darkColor;
        }
    }
    .fas::before {
        font-size: 1.8em;
    }
    @media all and (min-width:768px) {
        display: none;
    }
}
.charts-menu__tablet-desktop {
    display: none;
    @media all and (min-width:768px) {
        display: block;
        width: 130px;
        margin: 0;
        padding: 0;
        .charts-menu__button {
            font-weight: $boldMainFontWeight;
            font-size: 1em;
            width: 110px;
            display: flex;
            flex-direction: row;
            color: $ligthColor;
            padding: 18px 3px;
            margin: 9px 9px;
            border-radius: 6px;
            text-decoration: none;
            transition: all .3s ease-in;
            background-color: $darkColor;
            color: $ligthColor;
            box-shadow: 0 -2px $ligthColor inset;
            &:hover{
                box-shadow: 0 -80px $ligthColor inset;
                color: $darkColor;
            }
        }
        .fas::before {
            font-size: 2em;
            padding: 6px;
        }
    }
}