@import "../scss/variables";

.charts-menu {
  background-color: $mainColorLighter;
  display: flex;
  justify-content: center;
}

.charts-menu__list {
  list-style: none;
  padding: 0;
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .fas::before {
    font-size: 1.8em;
  }
  @media all and (min-width: 768px) {
    padding: 10px;
    width: 720px;
    .fas::before {
      font-size: 2em;
    }
  }
  @media all and (min-width: 1024px) {
    .fas::before {
      font-size: 2.5em;
    }
  }

}

.charts-menu__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  padding: 10px 10px;
  margin: 6px 2px;
  border: $darkColor;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s ease-in;
  background-color: $darkColor;
  color: $ligthColor;
  box-shadow: 0 -2px $ligthColor inset;
  &:hover {
    box-shadow: 0 -40px $ligthColor inset;
    color: $darkColor;
  }
  
  @media all and (min-width: 768px) {
    font-size: 1em;
    width: 80px;
    height: 80px;
    padding: 18px;
    margin: 9px;
    &:hover {
      box-shadow: 0 -80px $ligthColor inset;
    }
  }
}

.charts-menu__button__link {
  cursor: pointer;
  text-decoration: none;
  color: $ligthColor;
  &:hover {
    color: $darkColor;
  }
}