.charts-detail__article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.bar-chart__default-image-detail, .line-chart__default-image-detail, .data-chart__default-image-detail {
    width: 240px;
    @media all and (min-width: 768px) {
        width: 460px;
    }
    @media all and (min-width: 1024px) {
        width: 560px;
    }
}