@import '../scss/variables';

.charts-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    @media all and (min-width:768px) {
        height: 250px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }
    @media all and (min-width:1024px) {
        height: 300px;
    }

}
.chart-sankey__wrapper {
    width: 240px;
    padding: 10px;
    background-color: #fff;
    @media all and (min-width: 768px) {
        width: 460px;
    }
}
.charts-article__default-image {
    width: 260px;
    @media all and (min-width:768px) {
        width: 300px;
    }
    @media all and (min-width:1024px) {
        width: 350px;
    }
}
.charts-article__circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: $snowWhite;
}
.charts-article__line {
    background-color: $snowWhite;
    &.first__line-chart {
        width: 5px;
        height: 50px;
        animation-name: intro-vertical-first;
        animation-duration: 2s;
    }
    &.first__bar-chart {
        width: 5px;
        height: 50px;
    }
    @media all and (min-width:768px) {
        &.first__line-chart {
            height: 5px;
            width: 200px;
            animation-name: intro-first__line-chart;
            animation-duration: 3s;
        }
        &.first__bar-chart {
            height: 5px;
            width: 100px;
            animation-name: intro-first;
            animation-duration: 3s;
        }
        &.second {
            height: 5px;
            width: 50px;
            animation-name: intro-second;
            animation-duration: 2s;
        }
    }
    @media all and (min-width:1024px) {
        &.first__line-chart {
            height: 5px;
            width: 250px;
            animation-name: intro-first-laptop__line-chart;
            animation-duration: 3s;
        }
        &.first__bar-chart {
            height: 5px;
            width: 150px;
            animation-name: intro-first-laptop;
            animation-duration: 3s;
        }
        &.second {
            height: 5px;
            width: 100px;
            animation-name: intro-second-laptop;
            animation-duration: 2s;
        }
    }
}

@keyframes intro-first {
    from {
        width: 0;
    }
  
    to {
        width: 100px;
    }
}
@keyframes intro-first__line-chart {
    from {
        width: 0;
    }
  
    to {
        width: 200px;
    }
}
@keyframes intro-first-laptop {
    from {
        width: 0;
    }
  
    to {
        width: 150px;
    }
}
@keyframes intro-first-laptop__line-chart {
    from {
        width: 0;
    }
  
    to {
        width: 250px;
    }
}
@keyframes intro-second {
    from {
        width: 0;
    }
  
    to {
        width: 50px;
    }
}
@keyframes intro-second-laptop {
    from {
        width: 0;
    }
  
    to {
        width: 100px;
    }
}
@keyframes intro-vertical-first {
    from {
        height: 0;
    }
  
    to {
        height: 50px;
    }
}
@keyframes intro-vertical-second {
    from {
        height: 0;
    }
  
    to {
        height: 50px;
    }
}