@import "../scss/variables";

.charts-menu__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline:$mainColorLighter;
  width: 50px;
  height: 50px;
  padding: 10px 10px;
  margin: 6px 2px;
  border: $darkColor;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s ease-in;
  background-color: $darkColor;
  color: $ligthColor;
  box-shadow: 0 -3px $ligthColor inset;
  &.checked-button {
    box-shadow: 0 -50px $ligthColor inset;
    color: $darkColor;
  }
  
  @media all and (min-width: 768px) {
    font-size: 1em;
    width: 80px;
    height: 80px;
    padding: 18px;
    margin: 9px;
    box-shadow: 0 -5px $ligthColor inset;
    &.checked-button {
      box-shadow: 0 -80px $ligthColor inset;
    }
  }
}

.orange-button {
  background-color: orange;
}