@import "../scss/variables";

.charts-menu {
  background-color: $mainColorLighter;
  display: flex;
  justify-content: center;
}

.charts-menu__list {
  list-style: none;
  padding: 0;
  margin: 5px;
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .fas::before {
    font-size: 1.8em;
  }
  @media all and (min-width: 768px) {
    padding: 5px;
    width: 720px;
    .fas::before {
      font-size: 2em;
    }
  }
  @media all and (min-width: 1024px) {
    .fas::before {
      font-size: 2.5em;
    }
  }

}

.charts-menu__button__link {
  cursor: pointer;
  text-decoration: none;
  color: $ligthColor;
  &:hover {
    color: $darkColor;
  }
}