// COLORS
$mainColor: #147F74;
$ligthColor: #059e88;
$darkColor:  #215e54;
$mediumColor: #02938c;
$snowWhite: #fff;
$mainColorLighter: rgb(213, 238, 216);

// FONTS
$mainFontFamily :'Lato', sans-serif;
$mainFontSize: 14px;
$regularMainFontWeight: 300;
$boldMainFontWeight: 700;
$superBoldMainFontWeight: 900;
